<mat-card *ngIf="notice$ | async as notice; else noNoticeTemplate">

    <div class="row">
        <div class="col-lg-3 col-md-4 col-12" style="text-align: center;">
            <img [src]="notice.image" class="img-thumbnail">
        </div>

        <div class="col-lg-9 col-md-8 col-12">

            <mat-card-content>

                <div>
                    <h3>Activa:</h3>
                    <h2>{{ notice.active }}</h2>
                </div>

                <div>
                    <h3>Título:</h3>
                    <h2>{{ notice.name }}</h2>
                </div>

                <div>
                    <h3>Tipo:</h3>
                    <h2>{{ notice.type }}</h2>
                </div>

                <div>
                    <h3>Texto</h3>
                    <h2>{{ notice.text }}</h2>
                </div>

            </mat-card-content>

            <mat-card-actions>

                <button mat-raised-button type="button" (click)="gotoList()" color="warn">Volver al listado</button> &nbsp;
                <button mat-raised-button type="button" (click)="editItem()" color="warn">Editar</button>

            </mat-card-actions>

        </div>
    </div>

</mat-card>

<ng-template #noNoticeTemplate>
    No existe tal aviso
</ng-template>