<h1 mat-dialog-title>{{ title }}</h1>

<pre>
  {{ entitySelected | json }}
</pre>

<pre>
  {{ placeBaseSelected | json }}
</pre>


<mat-dialog-content class="mat-typography" [formGroup]="entityForm">

    <div *ngIf="entitySelected.image; else noEntityTemplate">
        <img [src]="entitySelected.image">
    </div>

    <ng-template #noEntityTemplate>
        <div>
            <img [src]="ENTITY_BLANK.image">
        </div>
    </ng-template>

    <mat-form-field appearance="outline">
        <mat-label>Entidad</mat-label>
        <mat-select placeholder="Entidad" formControlName="entity" [compareWith]="compareFunction" (selectionChange)="onEntitySelectionChanged($event)">
            <mat-option [value]="ENTITY_BLANK">
                {{ ENTITY_BLANK.name }}
            </mat-option>
            <mat-option *ngFor="let entity of entities$ | async as entities" [value]="entity">
                {{entity.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="entityForm.controls.entityRol.value">
        <mat-label>Rol de la Entidad</mat-label>
        <input matInput placeholder="Rol de la entidad" formControlName="entityRol">
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="entityForm.controls.place.value.id !== '0'">
        <mat-label>Lugar</mat-label>
        <mat-select placeholder="Lugar" formControlName="place" [compareWith]="compareFunction" (selectionChange)="onPlaceSelectionChanged($event)">
            <mat-option [value]="SECTION_BLANK">
                SIN ESPECIFICAR
            </mat-option>
            <mat-option *ngFor="let place of places$ | async as places" [value]="place">
                {{place.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

</mat-dialog-content>

<div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">Cancelar</button> &nbsp;
    <button mat-raised-button color="warn" (click)="create()" cdkFocusInitial>
        <mat-icon>check_circle_outline</mat-icon> Crear
      </button>
</div>
