<app-section-header [title]="'Panel de Configuración de Lugares'">
</app-section-header>

<div *ngIf="places$ | async as places; else noplaceTemplate" class="section-wrapper">

    <table mat-table matSort [dataSource]="places" class="mat-elevation-z8">

        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element">
                <img (click)="gotoItem(element)" [src]="element.image" class="img-thumbnail" alt="element.name">
            </td>
        </ng-container>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id.</th>
            <td mat-cell *matCellDef="let place">{{ place.id }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let place">{{ place.name }}</td>
        </ng-container>

        <ng-container matColumnDef="locality">
            <th mat-header-cell *matHeaderCellDef>Localidad</th>
            <td mat-cell *matCellDef="let place">{{ place.locality }}</td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Tipo</th>
            <td mat-cell *matCellDef="let place">{{ place.type }}</td>
        </ng-container>

        <ng-container matColumnDef="actions3">
            <th mat-header-cell *matHeaderCellDef>Acciones </th>
            <td mat-cell *matCellDef="let place">
                <button mat-icon-button matTooltip="Click to View" class="iconbutton" color="accent" (click)="gotoItem(place)">
                  <mat-icon aria-label="View">remove_red_eye</mat-icon>
                </button>

                <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary" (click)="editItem(place)">
                  <mat-icon aria-label="Edit">edit</mat-icon>
                </button>

                <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn" (click)="deleteItem(place)">
                  <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <br/>
    <button mat-raised-button type="button" (click)="addItem()" color="warn">Crear nuevo</button>

</div>

<ng-template #noplaceTemplate> No hay lugares </ng-template>
