<h1 mat-dialog-title>Selección de lugar</h1>
<div mat-dialog-content>

    <pre>
      {{ data | json }}
    </pre>

    <mat-form-field appearance="outline">
        <mat-label>Localidad</mat-label>
        <input matInput [(ngModel)]="data.locality">
    </mat-form-field>


    <!--
    <mat-form-field appearance="outline">
        <mat-label>Lugar</mat-label>

        <mat-select placeholder="Selecciona la ubicación del evento" (selectionChange)="setLocation()" [formControl]="placeCtrl">

            <mat-option [value]="SECTION_BLANK">
                SIN ESPECIFICAR
            </mat-option>

            <mat-option *ngFor="let place of places$ | async as places" [value]="place">
                {{place.name}}
            </mat-option>
        </mat-select>

    </mat-form-field>
    -->

    <!--
    <mat-form-field appearance="outline">
        <mat-label>Lugar</mat-label>

        <mat-select [(ngModel)]="event.place" name="place">
            <mat-option *ngFor="let place of places$ | async as places" [value]="place">
                {{place.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    -->

</div>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
