<h1 mat-dialog-title>Selecciona la ubicación del evento</h1>

<mat-dialog-content class="mat-typography" [formGroup]="placeForm">

    <mat-form-field appearance="outline">
        <mat-label>Localidad</mat-label>
        <input matInput placeholder="Localidad" formControlName="locality">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Lugar</mat-label>

        <mat-select placeholder="Lugar" formControlName="place" [compareWith]="compareFunction">
            <mat-option [value]="SECTION_BLANK">
                SIN ESPECIFICAR
            </mat-option>

            <mat-option *ngFor="let place of places$ | async as places" [value]="place">
                {{place.name}}
            </mat-option>
        </mat-select>

    </mat-form-field>

</mat-dialog-content>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button (click)="save()" cdkFocusInitial>Ok</button>
</div>
