<mat-card class="item-view" *ngIf="event; else noEventTemplate">

    <div class="row">
        <div class="col-lg-3 col-md-4 col-12" style="text-align: center;">
            <img [src]="event.image" class="img-thumbnail">
        </div>

        <div class="col-lg-9 col-md-8 col-12">

            <mat-card-content class="item-view">

                <div>
                    <h1 style="font-size: xxx-large;">{{ event.name }}</h1>
                    <span *ngIf="event.description" style="font-size: smaller;">{{ event.description }}</span>
                </div>

                <div *ngIf="event.categories">
                    <span>Categorías:</span>
                    <mat-chip-list aria-label="Categories">
                        <mat-chip *ngFor="let category of event.categories">{{ category }} 🥝</mat-chip>
                    </mat-chip-list>
                </div>

                <fieldset class="event-item-detail">

                    <legend>¿Dónde?</legend>

                    <button mat-fab type="button" (click)="openPlaceDialog()" color="accent">
                      <mat-icon>add_location_alt</mat-icon>
                    </button>

                    <app-event-place-detail [event]="event"></app-event-place-detail>

                </fieldset>

                <fieldset class="event-item-detail">

                    <legend>¿Quiénes?</legend>

                    <button mat-fab type="button" (click)="openEntityDialog()" color="accent">
                    <mat-icon>person_add</mat-icon>
                  </button>

                    <app-event-entity-detail [event]="event"></app-event-entity-detail>

                </fieldset>


                <div>
                    <mat-chip-list aria-label="Entity mode">
                        <mat-chip color="primary" selected>{{ event.active ? 'activo' : 'no activo '}}</mat-chip>
                        <mat-chip color="secundary" selected>{{ event.focused ? 'focus' : 'no focus '}}</mat-chip>
                        <mat-chip color="accent" selected *ngIf="event.status">{{ event.status }}</mat-chip>
                    </mat-chip-list>
                </div>


            </mat-card-content>

            <mat-card-actions>

                <div>

                    <button mat-fab type="button" (click)="editItem()" color="accent">
                  <mat-icon>visibility</mat-icon>
                </button>

                    <button mat-fab type="button" (click)="editItem()" color="accent">
                  <mat-icon>edit</mat-icon>
                </button>

                    <button mat-fab type="button" (click)="editItem()" color="accent">
                  <mat-icon>add_photo_alternate</mat-icon>
                </button>

                    <button mat-fab type="button" (click)="editItem()" color="accent">
                  <mat-icon>book_online</mat-icon>
                </button>

                </div>

            </mat-card-actions>

        </div>
    </div>

</mat-card>

<ng-template #noEventTemplate>
    <mat-spinner></mat-spinner>
</ng-template>
