<mat-card class="item-view" *ngIf="event$ | async as event; else noEventTemplate">

    <div class="row">
        <div class="col-lg-3 col-md-4 col-12" style="text-align: center;">
            <img [src]="event.image" class="img-thumbnail">
        </div>

        <div class="col-lg-9 col-md-8 col-12">

            <mat-card-content class="item-view">

                <div>
                    <mat-chip-list aria-label="Entity mode">
                        <mat-chip color="primary" selected>{{ event.active ? 'activo' : 'no activo '}}</mat-chip>
                        <mat-chip color="secundary" selected>{{ event.focused ? 'focus' : 'no focus '}}</mat-chip>
                        <mat-chip color="accent" selected *ngIf="event.status">{{ event.status }}</mat-chip>
                    </mat-chip-list>
                </div>

                <div>
                    <span>Nombre:</span>
                    <h2>{{ event.name }}</h2>
                </div>

                <div>
                    <span>Categorías:</span>
                    <mat-chip-list aria-label="Categories">
                        <mat-chip *ngFor="let category of event.categories">{{ category }} 🥝</mat-chip>
                    </mat-chip-list>
                </div>

                <div *ngIf="event.description">
                    <span>Descripción:</span>
                    <h2>{{ event.description }}</h2>
                </div>

            </mat-card-content>

            <mat-card-actions>

                <div>

                    <button mat-fab type="button" (click)="editItem()" color="accent">
                  <mat-icon>visibility</mat-icon>
                </button>

                    <button mat-fab type="button" (click)="editItem()" color="accent">
                  <mat-icon>edit</mat-icon>
                </button>


                    <button mat-fab type="button" (click)="editItem()" color="accent">
                  <mat-icon>add_photo_alternate</mat-icon>
                </button>


                    <button mat-fab type="button" (click)="editItem()" color="accent">
                  <mat-icon>person_add</mat-icon>
                </button>

                    <button mat-fab type="button" (click)="editItem()" color="accent">
                  <mat-icon>add_location_alt</mat-icon>
                </button>

                    <button mat-fab type="button" (click)="editItem()" color="accent">
                  <mat-icon>book_online</mat-icon>
                </button>

                </div>

            </mat-card-actions>

        </div>
    </div>

</mat-card>

<ng-template #noEventTemplate>
    No existe tal evento
</ng-template>
