<div *ngIf="notices$ | async as notices; else noNoticeTemplate">
    <table mat-table [dataSource]="notices" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
    The actual rendered columns are set as a property on the row definition" -->

        <!-- courseImage Column -->
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element">
                <img (click)="gotoItem(element)" [src]="element.image" class="img-thumbnail" alt="element.name">
            </td>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id.</th>
            <td mat-cell *matCellDef="let notice">{{ notice.id }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let notice">{{ notice.name }}</td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Desc.</th>
            <td mat-cell *matCellDef="let notice">...</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef>Activo</th>
            <td mat-cell *matCellDef="let notice">{{ notice.active }}</td>
        </ng-container>

        <ng-container matColumnDef="actions3">
            <mat-header-cell *matHeaderCellDef>Acciones </mat-header-cell>
            <mat-cell *matCellDef="let notice">
                <button mat-icon-button matTooltip="Click to View" class="iconbutton" color="accent" (click)="gotoItem(notice)">
            <mat-icon aria-label="View">remove_red_eye</mat-icon>
          </button>
                <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary" (click)="editItem(notice)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
                <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn" (click)="deleteItem(notice)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
            </mat-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <br/>
    <button mat-raised-button type="button" (click)="addItem()" color="warn">Crear nuevo</button>

</div>

<ng-template #noNoticeTemplate> No hay avisos </ng-template>