<h1 mat-dialog-title>{{ title }}</h1>

<mat-dialog-content class="mat-typography" [formGroup]="appointmentForm">

    <pre *ngIf="appointmentForm.value">
      <b>appointment:</b>
      {{ appointmentForm.value | json }}
    </pre>

    <mat-form-field appearance="outline">
        <mat-label>Fecha Inicio</mat-label>
        <input matInput [matDatepicker]="picker1" placeholder="Fecha de Inicio" formControlName="dateIni" (dateChange)="onDateIniChange('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Hora Inicio</mat-label>
        <input matInput type="time" formControlName="timeIni" placeholder="Hora de Inicio">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Fecha Fin</mat-label>
        <input matInput [matDatepicker]="picker2" placeholder="Fecha Fin" formControlName="dateEnd" (dateChange)="onDateEndChange('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Hora Fin</mat-label>
        <input matInput type="time" name="timeEnd" formControlName="timeEnd" placeholder="Hora de Fin">
    </mat-form-field>

</mat-dialog-content>

<div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="save()" cdkFocusInitial>
      <mat-icon>check_circle_outline</mat-icon> Guardar
    </button>
    <button mat-raised-button (click)="onNoClick()">Cancelar</button>
</div>