div.stories-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    height: 132px;
    // margin-top: 20px;
    background-color: whitesmoke;
    img {
        margin: 10px;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        padding: 4px;
        &.news {
            border: 1px solid #856404;
            background-color: #fff3cd;
        }
        &.notice {
            border: 1px solid darkgreen;
            background-color: lightgreen;
        }
        &.event {
            border: 1px solid darkred;
            background-color: lightcoral;
        }
    }
}

div.content-wrapper {
    div.content {
        width: 100%;
        height: 300px;
        padding-top: 120px;
        text-transform: uppercase;
        text-align: center;
        font-size: xx-large;
        &.news {
            border: 1px solid #856404;
            background-color: #fff3cd;
        }
        &.notices {
            border: 1px solid darkgreen;
            background-color: lightgreen;
        }
        &.events {
            border: 1px solid darkred;
            background-color: lightcoral;
        }
    }
}

img {
    height: 600px;
}
