/*
Formularios
*/

mat-form-field {
    width: 100%;
    text-align: center;
}

fieldset.form-editing-fields {
    padding: 20px;
    margin-bottom: 30px;
    &.EDITING {
        border: 1px solid darkgray;
        background-color: lightgrey;
        color: black;
    }
    &.VISIBLE {
        border: 1px solid darkgreen;
        background-color: lightgreen;
        color: black;
    }
    &.DELETED,
    &.BLOCKED {
        border: 1px solid darkred;
        background-color: lightcoral;
        color: black;
    }
    legend {
        float: left;
        font-size: smaller;
        text-align: right;
        font-weight: bold;
        text-transform: uppercase;
    }
}
