table {
    width: 100%;
}

.mat-column-id,
.mat-column-uid {
    color: gray;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100px;
    white-space: nowrap;
    padding-left: 30px !important;
    padding-right: 30px !important;
    font-size: small;
    font-family: monospace;
    text-transform: uppercase;
}

.mat-column-photoURL,
.mat-column-image {
    text-align: center;
    width: 100px;
    border: 2px solid white;
    .img-thumbnail {
        width: 64px;
        height: 64px;
    }
}

.mat-column-actions {
    width: 100px;
    text-align: center;
}

.mat-column-actions2 {
    width: 140px;
    text-align: center;
}

.mat-column-actions3 {
    width: 180px;
    text-align: center;
}

td.mat-column-status {
    font-size: smaller;
    text-transform: uppercase;
    color: red
}
