table {
    width: 100%;
}

.mat-column-id,
.mat-column-uid {
    color: gray;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100px;
    white-space: nowrap;
    padding-left: 30px !important;
    padding-right: 30px !important;
    font-size: small;
    font-family: monospace;
    text-transform: uppercase;
}

td.mat-column-timestamp {
    color: deeppink;
    width: 100px;
    font-size: x-small;
    line-height: 0.8rem;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.mat-column-photoURL,
.mat-column-image {
    text-align: right;
    width: 80px;
    border: 2px solid white;
    .img-thumbnail {
        min-width: 64px;
        width: 64px;
        min-height: 64px;
        height: 64px;
    }
}

td.mat-column-name {
    width: 300px;
    padding-left: 10px !important;
    padding-right: 5px !important;
}

.mat-column-imagePlace {
    text-align: right;
    width: 60px;
    border: 1px solid white;
    .img-thumbnail {
        min-width: 48px;
        width: 48px;
        min-height: 48px;
        height: 48px;
    }
}

td.mat-column-placeName {
    width: 100px;
    font-size: smaller;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

td.mat-column-categories {
    text-align: left;
    width: 140px;
    font-size: large;
    line-height: 1.9rem;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.mat-column-actions {
    width: 100px;
    text-align: center;
}

.mat-column-actions2 {
    width: 140px;
    text-align: center;
}

.mat-column-actions3 {
    width: 180px;
    text-align: center;
}

td.mat-column-status {
    font-size: smaller;
    text-transform: uppercase;
    text-align: center;
    color: black;
    &.EDITING {
        background-color: white;
        div.inside-status {
            border: 1px solid #856404;
            background-color: #fff3cd;
        }
    }
    &.VISIBLE {
        background-color: white;
        div.inside-status {
            border: 1px solid darkgreen;
            background-color: lightgreen;
        }
    }
    &.DELETED {
        background-color: white;
        div.inside-status {
            color: lightgrey !important;
            border: 1px solid black;
            background-color: #202020;
        }
    }
    &.BLOCKED {
        background-color: white;
        div.inside-status {
            border: 1px solid darkred;
            background-color: lightcoral;
        }
    }
}

td.mat-column-roleDefault,
td.mat-column-role {
    font-size: smaller;
    text-transform: uppercase;
    text-align: center;
    color: black;
    &.LECTOR {
        background-color: white;
        div.inside-role {
            border: 1px solid #856404;
            background-color: #fff3cd;
        }
    }
    &.AUTOR {
        background-color: white;
        div.inside-role {
            border: 1px solid orangered;
            background-color: orange;
        }
    }
    &.ADMIN {
        background-color: white;
        div.inside-role {
            border: 1px solid darkred;
            background-color: lightcoral;
        }
    }
    &.SUPER {
        background-color: white;
        div.inside-role {
            border: 1px solid darkslateblue;
            background-color: lightsteelblue;
        }
    }
    &.CENSOR {
        background-color: white;
        div.inside-role {
            color: lightgrey !important;
            border: 1px solid black;
            background-color: #202020;
        }
    }
}
