<mat-toolbar class="mat-elevation-z8" color="primary">

    <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
          <mat-icon>menu</mat-icon>
        </button>

    <button mat-raised-button color="accent" routerLink="home">
          <span>My App</span>
        </button>

    <span class="header-spacer"></span>

    <div *ngIf="user$ | async as user; else login">

        <button mat-raised-button color="warn" (click)="onLogout()">
              <mat-icon>logout</mat-icon>
            </button>

    </div>

</mat-toolbar>

<ng-template #login>
    <div>
        <button mat-raised-button color="warn" routerLink="login">Login</button>

        <button mat-raised-button color="warn" routerLink="registro">Registro</button>
    </div>
</ng-template>
